@model EzLib.Models.LibraryItem

@{
    ViewData["Title"] = "Return";
}

<h1>Return</h1>

<h4>@Model.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Return" asp-route-id="@Model.Id" method="post">
            <div class="form-group">
                <label asp-for="Borrower" class="control-label">Borrower</label>
                <input asp-for="Borrower" class="form-control" disabled />
            </div>
            <div class="form-group">
                <button type="submit" name="submit" value="yes" class="btn btn-primary">Return</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="LibraryItems" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}